* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink: #e6a6d6;
    --winning-blocks: #9b6081;
}

body {
    color: var(--pink);
    font-family: 'Lucida Sans', cursive;
}

h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9d2f5b;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6)~.box {
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--pink);
    color: #a92676;
    border-color: var(--pink);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
/* Add styles for the confetti here */
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}